@keyframes bounce{
    0%{
        color: aliceblue;
    }
    25%{
        color: blueviolet;
        /* transform: translateY(3px); */

    }
    50%{
        color: rgb(97, 97, 239);
        /* transform: translateY(7px) translateX(7px); */
    }
    75%{
        color: rgb(76, 183, 200);
        /* transform: translateY(4px) translateX(10px); */
    }
    100%{
        color: rgb(138, 245, 236);

    }
}

@keyframes appear{
    from{
        transform: translateX(-4px);
        color: rgba(250, 215, 215, 0);
    }
    to{
        transform: translateX(0);
        color: rgb(97, 97, 239);
    }
}
@keyframes appear-up {
    from{
        transform: translateY(4px);
        color: rgba(250, 215, 215, 0);
    }
    to{
        transform: translateY(0);
        color: rgb(97, 97, 239);
    }
}
.bounce{
    animation: bounce 6s infinite ease-in;
}
.appear{
    animation: appear 3s;
}
.appear-up{
    animation: appear-up 2s ease-in-out;
}


.animate--delay-02s{
    animation-delay: 0.2s;
}.animate--delay-04s{
    animation-delay: 0.4s;
}.animate--delay-06s{
    animation-delay: 0.6s;
}.animate--delay-08s{
    animation-delay: 0.8s;
}.animate--delay-1s{
    animation-delay: 1s;
}
.animate--infinite{
    animation-iteration-count: infinite;
}
